@media screen and (max-width: 770px) {
  .navbar {
    width: 90%;
  }

  .logo h2 a {
    font-size: 20px;
  }
  #menu-bar {
    display: grid;
    color: #fff;
    position: absolute;
    right: 5%;
    top: 20%;
    border: 1px solid #fff;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    cursor: pointer;
  }

  .nav-links {
    flex-direction: column;
    position: absolute;
    background: #24292d;
    width: 100%;
    left: 0;
    padding: 0;
  }

  .nav-links li a {
    border-bottom: 1px solid #fff;
    display: block;
    border-radius: 0;
    padding: 10px 0;
    margin: 0 20px;
  }

  .nav-links li:last-child a {
    border-bottom: none;
  }

  .inner-anasayfa {
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }

  .child-anasayfa {
    flex-basis: 100%;
  }
  .child-anasayfa:last-child {
    margin-bottom: 20px;
  }
  .child-anasayfa h1{
    font-size: 30px;
    line-height: 35px;
  }
  .child-anasayfa p{
    font-size: 20px;
  }
  /*---------------------------yazılımlar*/

   .inner-achivement{
    flex-direction: column;
   }
  .innersoftware-child{
    flex-direction: column;
    flex-basis: 100%;
    margin-bottom: 30px;
}
    /*-----------------------sertifikalarım*/
    .child-courses{
        flex-basis: 100%;
        margin-bottom: 30px;
    }

    /*------------------------başarılarım*/

    .child-achivement{
        flex-basis: 100%;
        margin-bottom: 30px;
        
    }
    .single-detail{
        flex-basis: 100%;
    }

    /*-----------------------hakkımda*/

    .child-testi{
      flex-basis: 100%;
      margin-bottom: 40px;
    }

    .child-testi:last-child{
      margin-bottom: 0;
    }

    /*-----------------------iletişim*/
    .child-contact{
      flex-basis: 100%;
      margin-bottom: 30px;
    }
   footer{
    flex-direction: column;
   }
  }

